.customers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;

  border-radius: 12px;
  box-shadow: 0px 4px 32px 0px #324b682b;
  background: #ffffff;
}

.customers__images {
  display: flex;

  & > *:not(:first-child) {
    margin-left: -15px;
  }
}

.customers__icon {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.customers__text {
  font-size: 18px;
  font-weight: 450;
  line-height: 22px;

  & i {
    font-style: normal;
    color: var(--accent);
  }
}
